@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Source+Serif+Pro&display=swap');

:root {
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  font-family: 'Lato', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(36, 36, 36, 0.87);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {  
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.App-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.top-bar {
  padding: .5rem .25rem;
  margin-left: .5rem;
  font-size: .9rem;
  display: flex;
  align-items: end;
}

.tob-bar > img {
  width: .75rem;
}

.top-bar-span, .top-bar-divisor {
  margin: 0 .25rem;
  vertical-align: bottom;
  line-height: 1;
}

.top-bar-divisor {
  color: #10b981;
}

.Editor {
  height: 80%;
  width: 80%;
}

.draggable-div {
  padding: .5em 0;
  min-height: 36px;
}

.draggable-div:hover {
  background-color: rgb(245, 245, 245);
}

.controls {
  position: absolute;
  bottom:3rem;
  border-radius: 5px;
  background-color: #fafafa;
  box-shadow: 1px 2px 4px #4b4b4b3d;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.controls-open {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.controls-open > span {
  font-size: .75rem;
  color: rgb(151, 151, 151);
  margin-right: .5rem;
  user-select: none;
}

.controls-open > span:hover {
  color: rgb(128, 128, 128);
}

.controls-group {
  display: flex;
  flex-direction: column;
  border-top: 1px solid lightgray;
  padding-bottom: .5rem;
}

.controls-group:first-child {
  border-top: none;
}

.controls-group > p:first-child {
  font-weight: 700;
  padding: .5rem 1rem;
  font-size: .75rem;
}

.controls-button {  
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-items: start;
  border: none;
  box-shadow: none;
  margin: 0;
  background-color: #fafafa;
  color:rgba(36, 36, 36, 0.87)
}

.controls-button:hover {
  background-color: #f1f1f1;
  color:rgba(36, 36, 36, 0.87)
}

.controls-button-icon {
  width: 2rem;
  height: 2rem;
  background-color: white;
  border-radius: 5px;
  border: 1px solid rgba(243, 243, 243, 0.959);
  box-shadow: 1px 2px 3px rgba(36, 36, 36, 0.123);
  padding: 0;
  margin:.75rem;
}

.controls-button:hover > .controls-button-icon {
  transition: all .25s;
  transform: scale(1.05);
}

.controls-button-icon > img {
  width: 1rem;
  height: 1rem;
  margin: .5rem;
}

.controls-button-info {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin: .75rem 0;
  margin-right: 1.5rem;
}

.controls-button-info > span:first-child {
  font-weight: 700;
  font-size: 1rem;
  margin: .375rem 0;
}




.custom-p {
  font-family: 'Source Serif Pro', serif;
  font-size: 1rem;
}

.custom-hr {
  height: 2px;
  border-radius: 5px;
  background-color: rgb(224, 224, 224);
  box-shadow: 1px 1px 3px rgba(100, 100, 100, 0.137);
  border-style: none;
}

.dumpster {
  position: absolute;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
